base/php-bdd/web/bundles/
base/php-bdd/app/bootstrap.php.cache
base/php-bdd/app/cache/*
base/php-bdd/app/config/parameters.yml
base/php-bdd/app/logs/*
!base/php-bdd/app/cache/.gitkeep
!base/php-bdd/app/logs/.gitkeep
base/php-bdd/app/phpunit.xml
base/php-bdd/build/
base/php-bdd/vendor/
base/php-bdd/bin/
base/php-bdd/composer.phar
/.idea
base/php-bdd/phpunit-report
behat-tests/bin
behat-tests/vendor