@charset "UTF-8";

body {
    background: #EEEEEE;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1;
}

.wrapper {
    margin: 30px auto;
    width: 960px;
    background: #FFFFFF;
    box-shadow: 0 0 30px 0 #D3D3D3;
}

.wrapper h1 {
    padding: 20px 20px 0;
    font-size: 50px;
    color: #4D82BB;
}

.main {
    padding: 20px 20px 0;
    color: #000000;
}

.editor_container {
    padding: 20px;
    min-height: 300px;
    background: #8EABBB;
    color: #FFFFFF;
}

form.editor div {
    margin-bottom: 10px;
}

form.editor label {
    float: left;
    margin-right: 10px;
    text-align: right;
    width: 80px;
    vertical-align: top;
    padding-top: 10px;
}

form.editor input[type="text"], form.editor textarea, form.editor input[type="submit"], form.editor input[type="file"] {
    padding: 1px 3px;
    width: 500px;
    line-height: 26px;
    font-size: 20px;
    min-height: 26px;
    box-sizing: border-box;
}

form.editor textarea {
    height: 168px;
    resize: none;
}

form.editor input[type="submit"] {
    margin-left: 90px;
}

.date {
    margin-bottom: 20px;
    border-bottom: 2px solid #8EABBB;
    font-size: 24px;
    color: #4D82BB;
    line-height: 30px;
}

.blog {
    margin-bottom: 20px;
}

.blog img { width: 300px; float: left; padding: 5px; border: 1px solid #ccc; margin: 0 10px 10px 0; }
.blog .meta { clear: left; margin-bottom: 20px; }
.blog .snippet p.continue { margin-bottom: 0; text-align: right; }
.blog .meta { font-style: italic; font-size: 12px; color: #666; }
.blog .meta p { margin-bottom: 5px; line-height: 1.2em; }